<!-- transaction_form.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Add Transaction</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
    <h2>Add Transaction</h2>
    <form method="post">
        {% csrf_token %}
        
        <!-- Displaying Sender UID as a non-editable input -->
        <div class="form-group">
            <label for="id_sender_uid">Sender UID:</label>
            <input type="text" id="id_sender_uid" name="sender_uid" value="{{ request.session.user_id }}" readonly class="form-control">
        </div>
        
        <!-- Receiver UID and Amount fields -->
        <div class="form-group">
            <label for="id_receiver_uid">Receiver UID:</label>
            {{ form.receiver_uid }}
        </div>

        <div class="form-group">
            <label for="id_amount">Amount:</label>
            {{ form.amount }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>
